{
    "extends": [
        "airbnb",
        "react-app"
    ],
    "rules": {
        "jsx-a11y/href-no-hash": "off",
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": 0,
        "react/require-default-props": 0,
        "react/prop-types": 0,
        "jsx-a11y/anchor-is-valid": [
            "warn",
            {
                "aspects": [
                    "invalidHref"
                ]
            }
        ],
        "indent": [
            "error",
            4
        ],
        "react/prefer-stateless-function": 0
    }
}